.product-card {
    width: 320px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.product-card img {
    display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin: 0;
    font-size: 22px;
}

.card-content .price {
    color: hsl(120, 100%, 25%);
    font-weight: 900;
    font-size: 24px;
    margin-top: 10px;
}

.card-content button {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 8px;
}

.card-content button :hover {
    background-color: royalblue;
}