.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);

}