.login-form-container {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    max-width: 100%;
}
input[type="text"], input[type="password"], label {
    display: block;

}
input[type="text"], input[type="password"] {
    margin-bottom: 10px;
}
.options-row {
    display: flex;
    justify-content: space-between;
}
.login-button {
    display: block;
    width: 100%;
}

@media (min-width: 600px) {
    .login-form-container {
        max-width: 500px;
    }

}