.product-card {
    position: relative;
    border-radius: 5px;
    border: 2px solid;
}
.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #9C2113;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
.product-image {
    max-width: 100%;
}
.product-details {
    padding: 10px;
}
.buy-button {
    display: flex;
    gap: 10px;
    background-color: #3498db;
    padding: 10px;
    color: white;
}
@media (min-width: 768px) {
    .product-card {
        display: flex;
        align-items: center;
    }
    .product-image {
        flex: 1;
    }
    .product-details {
        flex: 1;
    }
}
