/*
Управляет вертикальным выравниванием элементов внутри их ячеек (по оси Y).
 */

/*
align-items: start — контент в верхней части ячейки
align-items: end — контент в нижней части ячейки
align-items: center — контент выравнивается по центру ячейки
align-items: stretch — контент растягивается на всю высоту ячейки (значение по умолчанию)
 */