/*
управляет горизонтальным выравниванием элементов внутри их ячеек.
как элементы должны быть распределены внутри каждой ячейки по горизонтали
 */

/*
justify-items: start; — контент в самой левой части ячейки
justify-items: end; — контент в самой правой части ячейки
justify-items: center; — контент выравнивается по центру ячейки
justify-items: stretch; — контент растягивается на всю ширину ячейки (значение по умолчанию)
*/
