button {
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button :hover {
    background-color: dodgerblue;
    cursor: pointer;
}

button :active {
    background-color: cornflowerblue;
}