.card {
    /* расстояние до других элементов */

    margin: 16px; /* все стороны одинаково */
    margin: 8px 12px; /* вертикаль и горизонталь */
    margin: 4px 8px 12px 16px; /* по часовой стрелке */
    margin-left: 20px; /* только слева */
}