* {
    box-sizing: border-box;
}

.business-card {
    width: 350px;
    border: 1px solid gray;
    padding: 20px;
}

.name {
    color: blue;
    margin-bottom: 0;
}

.title {
    color: grey;
    margin-top: 5px;
}