.card {
  position: relative;
}

.card .badge {
  position: absolute;
  top: 0;
  right: 0;
}

/*
static (по умолчанию)  Все элементы изначально static. Это значит, что они идут один за другим — как написано в HTML.

relative (относительно самого себя)  Элемент остаётся в том же месте, но его можно немного сдвинуть с помощью свойств top, left, right, bottom:

absolute (абсолютно)  Элемент вырывается из потока и позиционируется относительно ближайшего родителя с relative, absolute, sticky или fixed (обычно relative) позиционированием.

fixed (прибито к экрану)  Элемент вырывается из потока и приклеивается к окну браузера, а не к странице. Он не двигается при прокрутке, всегда остаётся на одних и тех же координатах экрана:

sticky (залипание при прокрутке)  Работает как relative, пока не начнёшь прокручивать. После этого элемент «прилипает» и ведёт себя как fixed.

 */


.icon {   /* иконку в левом верхнем углу. */
  position: absolute;
  top: 0;
  left: 0;
}
